<!-- HTML -->
<!DOCTYPE html>
<html data-ng-app="myApp">
<head>
	<link rel="stylesheet" type="text/css" href="all_libs/ngDialog-master/css/ngDialog.css">
	<link rel="stylesheet" type="text/css" href="all_libs/ngDialog-master/css/ngDialog-theme-default.css">
	<link rel="stylesheet" href="all_libs/bootstrap-3.3.6/css/bootstrap.css">
	<script src="all_libs/angular-1.5.0-beta.2/angular.js"></script>
	<script src="all_libs/ngDialog-master/js/ngDialog.js"></script>
	<script src="all_libs/ui-bootstrap-tpls-0.14.3.js"></script>
	<script src="all_app.js"></script>

	<title>AngularJSDemo</title>
</head>
<body ng-controller="myAppController">
	<h1>Web App AngularJS</h1>
	<h2>{{text1}}</h2>
	<h2>{{text2}}</h2>

<button ng-click="doSomething()">Do Something ...</button>
<button ng-click="openImage()">Open Image</button>
<button class="btn btn-primary" ng-click="showForm()">Create Account</button>
</body>
</html>
